<mat-toolbar color="primary" *ngIf="isAuthenticated">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title">{{ title }}</span>
  <span class="spacer"></span>
  <span class="user-info">
    <mat-icon>account_circle</mat-icon>
    {{ currentUser?.username }}
  </span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navigateTo('/dashboard')">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-menu-item (click)="navigateTo('/auth/change-password')">
      <mat-icon>lock_reset</mat-icon>
      <span>Change Password</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" *ngIf="isAuthenticated">
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <ng-container *ngIf="authService.isAdmin(); else nonAdminMenu">
        <a mat-list-item routerLink="/admin/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          <span>Admin Dashboard</span>
        </a>
        <a mat-list-item routerLink="/admin/applications" routerLinkActive="active">
          <mat-icon>assignment</mat-icon>
          <span>Review Applications</span>
        </a>
        <a mat-list-item routerLink="/admin/active-loans" routerLinkActive="active">
          <mat-icon>account_balance</mat-icon>
          <span>Active Loans</span>
        </a>
        <a mat-list-item routerLink="/admin/loan-schedules" routerLinkActive="active">
          <mat-icon>event_note</mat-icon>
          <span>Loan Schedules</span>
        </a>
        <a mat-list-item routerLink="/admin/reports" routerLinkActive="active">
          <mat-icon>bar_chart</mat-icon>
          <span>Reports</span>
        </a>
      </ng-container>

      <ng-template #nonAdminMenu>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </a>
        <a mat-list-item routerLink="/loans/apply" routerLinkActive="active">
          <mat-icon>add_circle</mat-icon>
          <span>Apply for Loan</span>
        </a>
        <a mat-list-item routerLink="/loans/my-loans" routerLinkActive="active">
          <mat-icon>account_balance</mat-icon>
          <span>My Loans</span>
        </a>
        <a mat-list-item routerLink="/loans/applications" routerLinkActive="active">
          <mat-icon>assignment</mat-icon>
          <span>My Applications</span>
        </a>
        <a mat-list-item routerLink="/emi/schedule" routerLinkActive="active">
          <mat-icon>event</mat-icon>
          <span>EMI Schedule</span>
        </a>
      </ng-template>

      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/auth/change-password" routerLinkActive="active">
        <mat-icon>lock_reset</mat-icon>
        <span>Change Password</span>
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet *ngIf="!isAuthenticated"></router-outlet>
